/* #ufo{
    height: 200px;
    background-color: coral;
}
#Lorem{
    color: blue;
    background-color: khaki;
} */

#rood{
    background-color: red;
}
#bluwe{
    background-color: green;
}
#gren{
    background-color: blue;
}